@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto:wght@500&display=swap');

body{
    background-color: #489FB5;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header{
    background-color: #16697A;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo{
    width: 100px;
}

nav a{
    text-align: center;
    color: #82C0CC;
    text-decoration: none;
    font-family: "Joan", 'Times New Roman', 'Georgia';
    padding: 35px;
}

nav a:hover{
    background-color: #82C0CC;
    color: #16697A;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img{
    width: 100%;
}

#hero-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 150px;
}

#hero-msg h1 {
    text-align: left;
}

.home-title{
    color: #16697A;
    font-family: "Roboto", Arial, Helvetica;
    font-size: 2em;
    margin-top: 10px;
}

/* The sidebar menu */
.sidenav {
    
    width: 150px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 1; /* Stay at the top */
    left: 0;
    background-color: #16697A; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .sidenav :hover{
    background-color: #82C0CC;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #82C0CC;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #16697A;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  

main{
    background-color: #EDE7E3;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.msg{
    grid-column: 1/11;
    grid-row: 1/3;
    margin: 50px;
}

.msg h2{
    color: #16697A;
    font-family: "Roboto", Arial, Helvetica;
}

.msg p{
    color: #16697A;
    font-family: "Joan", 'Times New Roman', 'Georgia';
    /* font-size: .8em; */
    padding-bottom: 15px;
}

hr {
    border: 1px solid #16697A;
}

.hr-announcement {
    grid-column: 1/5;
    grid-row: 3/9;
    margin: 50px;
}

.health-announcement {
    grid-column: 7/11;
    grid-row: 3/6;
    margin: 50px;
}

.calendar-announcement {
    grid-column: 7/11;
    grid-row: 6/9;
    margin: 50px;
}

.hr-announcement h3, .health-announcement h3, .calendar-announcement h3, .quote h3 {
    font-family: "Roboto", "Arial", "Helvetica";
    color: #16697A;
}

.hr-announcement p, .health-announcement p, .calendar-announcement p, .quote p {
    font-family: "Joan", 'Times New Roman', 'Georgia';
    color: #16697A;
    padding-bottom: 15px;
}

.quote {
    grid-column: 2/9;
    grid-row: 11/13;
    background-color: #EDE7E3;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px gray;
    margin: 100px;
}

footer{
    background-color: #16697A;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    color: #82C0CC;
    font-family: "Joan", 'Times New Roman', 'Georgia';
}

footer h3 a:hover{
    text-decoration: underline;
}

footer a{
    color: #82C0CC;
    text-decoration: none;
}

footer a:hover{
    background-color: #82C0CC;
    color: #16697A;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    .home-title {
        font-size: 25px;
        color: #16697A;
    }
    .hr-announcement, .health-announcement, .calendar-announcement { 
        margin: 50px auto;
        width: 60%;
    }
    footer {
        margin-top: 25px;
    }
}