h1 {
    color:white;
    text-align: center;
    
}

.top-quote {
    color: white;
    text-align: center;
}

body {
    background-color: #fca6c9;
}

.by-tag{
    color: white;
    text-align: center;
}

h5{
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 1em;
}


img {
    display: block;
    width: 20%;
    margin: 0 auto;
}

.ending-quote {
    margin: auto;
    width: 22%;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    color: white;
}

footer {
    color: black;
    text-align: center;
}

a:hover{
    color: black;
}

h1:hover {
    color: black;
}